html * {
    font-family: "Press Start 2P";
    font-size: small;
}

#container{
    display: grid;
    grid-template-columns: repeat (12,1fr);
    grid-template-rows: repeat (6,1fr);
    width: 100vw;
    height: 70vh
}

#characterName{
    grid-row: 2;
}

#pointsAvailableContainer{
    grid-row: 3;
}

#inputContainer{
    margin: 1em;
    padding: 1em;
    grid-row: 4
}

#continue {
    position: fixed;
    bottom: 20px;
    right: 20px
}