#title, #text{
  text-align: center;
}

#textDiv{
  display:grid;
}

#text{
  justify-self: center;
  margin: 1em;
  padding: 1em;
}

#buttonDiv{
  display: grid;
}

#button{
  justify-self: center;
}