html *{
  font-family: "Press Start 2P";
}

#title, #text{
  text-align: center;
}

#textDiv{
  display:grid;
  justify-content: center;
}

#text{
  justify-self: center;
  margin: 1em;
  padding: 1em;
  max-width: 720px
}

#buttonDiv{
  display: grid;
}

#button{
  justify-self: center;
}