html *{
  font-family: "Press Start 2P";
}

#title{
  text-align: center;
  grid-row: 2
}

#text{
  text-align: center;
}

.container {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  justify-content: center;
  width: 100vw;
  height: 70vh
}

.body {
  display: grid;
  grid-row: 3/7
}

#text{
  justify-self: center;
  margin: 1em;
  padding: 1em;
  max-width: 720px
}

#buttonDiv{
  display: grid;
}

#button{
  justify-self: center;
}